body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    background-color: #fff;
    opacity: 1;
}
/*home*/
#home{
    position:relative;
    width:100%;
    height:100%;
}
#home_logo{
    padding-top:320px;
    width:560px;
    margin-left:auto;
    margin-right:auto;
}
#logo_wxpay{
    float:left;
}
    #logo_wxpay p {
        width: 152px;
        height: 34px;
        font-size: 36px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #0A0E10;
        text-align:center;
    }
#logo_split {
    float:left;
    width: 4px;
    height: 87px;
    background: #C7C9CC;
    margin-left:122px;
    margin-top:32px;
}
#logo_gemstar{
    float:left;
    margin-left:122px;
}
    #logo_gemstar p {
        width: 150px;
        height: 34px;
        font-size: 36px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #0A0E10;
        text-align:center;
    }
#home_bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width:100%;
}
    #home_bottom img{
        width:100%;
    }
/*rc pdf show*/
#rcpdfshow {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f7f8fa;
}
.pdfbackground {
    position:absolute;
    left:30px;
    right:30px;
    top:108px;
    bottom:346px;
    background: #FFFFFF;
    border-radius: 16px;
}
.btn-startsign {
    position: absolute;
    width: auto;
    left: 30px;
    right: 30px;
    bottom: 170px;
    margin: auto;
    height: 80px;
    background: #00C777;
    border-radius: 8px;
    font-size: 34px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #F7F8FA;
}
/* rc pdf sign*/
.sign-background {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.sign-box{   
    width:100%;
    height:80%; 
}
#rcpdfsign{
    width:100%;
    height:100%;
}
.sign-tip {
    position: absolute;
    width: 468px;
    height: 468px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 200px;
}
    .sign-tip p {
        width: 323px;
        height: 59px;
        font-size: 62px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #FFFFFF;
        position:absolute;
        top:120px;
        left:80px;
    }
    .sign-toolbar {
        width: 744px;
        height: 80px;
        position: absolute;
        margin: auto;
        bottom: 168px;
        left: 0;
        right: 0;
    }
.sign-reset {
    width: 370px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 8px 0px 0px 8px;
    font-size: 34px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #00C777;
    margin:0;
}
.sign-confirm {
    width: 370px;
    height: 80px;
    background: #00C777;
    border-radius: 0px 8px 8px 0px;
    font-size: 34px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    margin:0;
}
/**payment show qrcode*/
#paymentShow {
    width: 100%;
    height: 100%;
    background-color: #f7f8fa;
    position:relative;
}
.payment-box{
    background-image:url(../images/background_payment.png);
    width:740px;
    height:827px;
    margin-left:auto;
    margin-right:auto;
    margin-top:108px;
}
.payment-title{
    height:80px;
}
.payment-title img {
    float: left;
    margin-top: 55px;
    margin-left: 260px;
}
.payment-title p {
    float:left;
    margin-top:45px;
    margin-left:20px;
    font-size: 48px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #00C777;
}
.payment-amount{
    text-align:center;
}
.payment-amount p {
    font-size: 100px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #0A0E10;
}
#paymentQrcode{
    text-align:center;
}
.payment-qrcode img {
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 236px;
    margin-top: 20px;
}
.payment-qrcode p {
    float: left;
    margin-left: 10px;
    margin-top:23px;
    font-size: 26px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #0A0E10;
}
.payment-qrcode::after{
    content:"";
    display:block;
    clear:both;
}
.payment-tip {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
    .payment-tip img{
        float:left;
    }
    .payment-tip p {
        float:left;
        font-size: 22px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #FABC3F;
        margin-left:10px;
        margin-top:5px;
    }
    .payment-tip::after{
        content:"";
        display:block;
        clear:both;
    }
    /**common toolbar**/
    .toolbar {
        margin-top: 30px;
        margin-left: 30px;
    }
.toolbar a {
    height: 34px;
    font-size: 36px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #0A0E10;
}
/**common bottom logo**/
.botton_log {
    width: 302px;
    margin: auto;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}