@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,target-densitydpi=device-dpi">
    <link href="~/css/rcsign.css" rel="stylesheet" />
</head>
<body>
    <div id="home">
        <div id="home_logo">
            <div id="logo_wxpay">
                <img src="~/images/logo_wxpay_home.png" />
                <p>微信支付</p>
            </div>
            <div id="logo_split">

            </div>
            <div id="logo_gemstar">
                <img src="~/images/logo_gemstar_home.png" />
                <p>捷信达</p>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="home_bottom">
            <img src="~/images/bottom_image_home.png" />
        </div>
    </div>
    <div id="rcpdfshow" style="display:none;overflow:auto">
        <div class="toolbar">
            <a href="#" onclick="showHome()"><img src="~/images/btn_back.png" /></a>
        </div>
        <div class="pdfbackground">
            <img id="rcpdf"/>
        </div>
        <div id="rcpdfsignbox" class="sign-background" style="display:none;">
            <div class="sign-box">
                <div id="rcpdfsign"></div>               
            </div>
            <div class="sign-tip">
                <img src="~/images/sign_tip.png" />
                <p>请在此签名</p>
            </div>
            <div class="sign-toolbar">
                <button class="sign-reset" onclick="resetSign()">重&nbsp;&nbsp;签</button><button class="sign-confirm" onclick="confirmSign()">确&nbsp;&nbsp;认</button>
            </div>
        </div>

            <button class="btn-startsign" onclick="beginSign()">签名并确认</button>

            <div class="botton_log">
                <img src="~/images/logo_wx_gemstar.png" />
            </div>
        </div>
    <div id="inputPhoneNo" style="display:none;">
        <div class="toolbar">
            <a href="#" onclick="showPaymentQrcode()"><img src="~/images/btn_back.png" /></a>
        </div>
        <div class="phoneNoBox">
            <p class="phoneNoPrompt1">请输入您的手机号</p>
            <p class="phoneNoPrompt2">便于酒店同步入住信息</p>
            <p class="phoneNoInput"></p>
            <div class="phoneNoKeyboard">
                <div class="phoneNoInputNumberBtnBox">
                    <button class="phoneInputBtn" onclick="inputPhoneNo(this)">1</button>
                    <button class="phoneInputBtn" onclick="inputPhoneNo(this)">2</button>
                    <button class="phoneInputBtn" onclick="inputPhoneNo(this)">3</button>
                    <button class="phoneInputBtn" onclick="inputPhoneNo(this)">4</button>
                    <button class="phoneInputBtn" onclick="inputPhoneNo(this)">5</button>
                    <button class="phoneInputBtn" onclick="inputPhoneNo(this)">6</button>
                    <button class="phoneInputBtn" onclick="inputPhoneNo(this)">7</button>
                    <button class="phoneInputBtn" onclick="inputPhoneNo(this)">8</button>
                    <button class="phoneInputBtn" onclick="inputPhoneNo(this)">9</button>
                    <button class="phoneInputZero" onclick="inputPhoneNo(this)">0</button>
                </div>
                <button class="phoneInputBtn" onclick="inputPhontNoBack()"><img src="~/images/input_back.png" /></button>
                <button class="phoneNoConfirm" onclick="confirmPhoneNo()">确认</button>
                <div style="height:0;clear:both"></div>
            </div>
        </div>
    </div>
    <div id="paymentShow" style="display:none;">
        <div class="toolbar">
            <a href="#" onclick="showHome()"><img src="~/images/btn_back.png" /></a>
        </div>
        <div class="payment-box">
            <div class="payment-title">
                <img src="~/images/payment_status.png" />
                <p>待支付</p>
            </div>
            <div class="payment-amount">
                <p id="paymentAmount">￥666.66</p>
            </div>
            <div class="payment-qrcode">
                <div id="paymentQrcode"></div>
                <div>
                    <img src="~/images/logo_wxpay_home.png" />
                    <p>使用微信扫码支付</p>
                </div>
            </div>
        </div>
        <div style="height:0;clear:both"></div>
        <div class="payment-tip">
            <img src="~/images/icon_alert.png" />
            <p>注意：若使用信用卡或现金请联系前台</p>
        </div>

        <div class="botton_log">
            <img src="~/images/logo_wx_gemstar.png" />
        </div>
    </div>
    <div id="paymentResult" style="display:none;">
        <div class="toolbar">
            <a href="#" onclick="showHome()"><img src="~/images/btn_back.png" /></a>
        </div>
        <div class="paymentResultInfo">
            <img class="paymethod" src="~/images/logo_wxpay_home.png" />
            <p class="paymentResult">支付成功</p>
            <p class="paidAmount"></p>
        </div>
        <div class="botton_log">
            <img src="~/images/logo_wx_gemstar.png" />
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/jSignature.min.js"></script>
    <script src="~/js/qrcode.min.js"></script>
    <script src="~/js/jquery.qrcode.min.js"></script>
    <link href="~/css/nivotheme/default/default.css" rel="stylesheet" />
    <script type="text/javascript">
        var deviceId = "rcsign1";
        $(function () {
            //read device id from android device
            if (typeof (Android2JS) == "object") {
                //if the page run in android webview,did not need to start websocket,the android app will start websocket
                deviceId = Android2JS.GetDeviceSN();
            } else {
                //start web socket only when the page run in desktop browsers
                startConnectWebSocket();
            }
        });
        //show the rc pdf,then customer can sign over the pdf
        //and remember the regid and qrcode,when customer has finished sign,save the sign and show payment qrcode
        var currentRegId, currentQrcode,currentPdfName,currentAmount,needInputPhoneNo,defaultPhoneNo;
        function showRC(regid, pdfName, qrcode,amount,imageUrl,inputPhoneNo,phoneNo) {
            currentRegId = regid;
            currentQrcode = qrcode;
            currentPdfName = pdfName;
            currentAmount = amount;
            needInputPhoneNo = inputPhoneNo;
            defaultPhoneNo = phoneNo;

            $("#signedimage").remove();
            $("#rcpdf").attr("src", imageUrl);
            $(".btn-startsign").show();
            showPage("rcpdfshow");
            calcSignButtonWidth();
        }
        function calcSignButtonWidth() {
            var parentWidth = $(".pdfbackground").css("width");
            var btnWidth = parseFloat(parentWidth) - 60;
            $(".btn-startsign").css("width", btnWidth + "px");
        }
        //begin sign over rc pdf
        function beginSign() {
            $("#signedimage").remove();
            $(".btn-startsign").hide();
            $("#rcpdfsignbox").show();
            var signCanva = $("#rcpdfsign");
            var param = {
                width: '' + signCanva.width() + 'px',
                height: '' + signCanva.height()+'px',
                signatureLine: false,//去除默认画布上那条横线
                "background-color": "transparent",//背景透明
                lineWidth: '3' //画笔的大小
            };
            $("#rcpdfsign").jSignature(param);
            resetSign();
            $(".sign-tip").show();
            //hide the sign tip after a few seconds
            setTimeout(function () {$(".sign-tip").hide();}, 1000 * 2);
        }
        //clean the signed data,and begin sign over rc pdf
        function cleanAndResign() {
            resetSign();
            beginSign();
        }
        //reset the signed and begin sign over rc pdf again
        function resetSign() {
            $("#rcpdfsign").jSignature("reset");
        }
        //get the sign data,convert to image,show over the rc pdf
        var imageBase64Data;
        function confirmSign() {
            var datapair = $("#rcpdfsign").jSignature("getData", "image");
            if (datapair[0] && datapair[1]) {
                var imageSrc = "data:" + datapair[0] + "," + datapair[1];

                imageBase64Data = datapair[1];
                $("<img src='" + imageSrc + "' id='signedimage' style='height:110;position:absolute;right:150px;bottom:150px;'/>").appendTo($(".pdfbackground"));
                $("#rcpdfsignbox").hide();
                //there is not another setup to save the sign by user,so need to save sign directly
                saveSign();
            } else {
                alert("请先签名");
            }
        }
        //save sign image to rc pdf
        function saveSign() {
            if (!imageBase64Data) {
                alert("请先签名");
                return;
            }
            $.post("@Url.Action("SaveSignImageToPdf")", { imageBase64Data: imageBase64Data, regid: currentRegId, pdfName: currentPdfName }, function (data) {
                console.log("save signed image result:", data);
                if (data.success) {
                    if (needInputPhoneNo == "1") {
                        showPhoneNoInput();
                    } else {
                        showPaymentQrcode();
                    }
                } else {
                    alert(data.data);
                }
            }, "json");
        }
        //show phone no input
        function showPhoneNoInput() {
            setPhoneNoFormated(defaultPhoneNo);
            showPage("inputPhoneNo");
        }
        function inputPhoneNo(btn) {
            var text = $(btn).text();
            setPhoneNoFormated($(".phoneNoInput").text() + text);
            $(".phoneNoInput").css("border", "none");
        }
        function inputPhontNoBack() {
            var text = $(".phoneNoInput").text().replaceAll(' ', '');
            var len = text.length;
            if (len > 1) {
                setPhoneNoFormated(text.substr(0, len - 1));
            } else {
                $(".phoneNoInput").text("")
            }
        }
        function setPhoneNoFormated(phoneNo) {
            if (!phoneNo) {
                phoneNo = "";
            }
            phoneNo = phoneNo.replaceAll(' ', '');
            var formatedPhoneNo = "";
            var len = phoneNo.length;
            var index = Math.min(3, len);
            formatedPhoneNo = phoneNo.substr(0, index);
            if (len > 3) {
                index = Math.min(7, len);
                formatedPhoneNo += ' ' + phoneNo.substr(3, index-3);
                if (len > 7) {
                    index = Math.min(11, len);
                    formatedPhoneNo += ' ' + phoneNo.substr(7, index - 7);
                }
            }
            $(".phoneNoInput").text(formatedPhoneNo);
        }
        //save phone no
        function confirmPhoneNo() {
            var text = $(".phoneNoInput").text().replaceAll(' ', '');
            if (!text) {
                $(".phoneNoInput").css("border", "1px solid red");
                return;
            }
            $.post("@Url.Action("SavePhoneNo")", { regid: currentRegId, phoneNo: text }, function (data) {
                if (data.success) {
                    showPaymentQrcode();
                } else {
                    $(".phoneNoInput").css("border", "1px solid red");
                }
            }, "json");
        }
        //show payment qrcode
        function showPaymentQrcode() {
            $("#paymentQrcode").children().remove();
            $("#paymentAmount").text("￥" + currentAmount);
            $("#paymentQrcode").qrcode({ width: 256, height: 256, text: currentQrcode });
            showPage("paymentShow");
        }
        //show payment result
        function showPaymentResult(regid,seconds) {
            $(".paidAmount").text("￥" + currentAmount);
            showPage("paymentResult");
            if (seconds > 0) {
                setTimeout(function () { showHome(regid); }, seconds * 1000);
            }
        }
        //show home
        function showHome(regid, seconds) {
            if (seconds > 0) {
                showPaymentResult(regid, seconds);
            } else {
                showPage("home");
            }
        }
        function showPage(pageId) {
            $("#rcpdfshow").hide();
            $("#paymentShow").hide();
            $("#inputPhoneNo").hide();
            $("#home").hide();
            $("#paymentResult").hide();
            $("#" + pageId).show();
        }
        //start connect timer when websocket closed,and end the timer when websocket connected
        var websocketReconnectTimer = null;
        function startConnectWebSocket() {
            if (websocketReconnectTimer == null) {
                websocketReconnectTimer = setInterval(reconnectWebSocket, 1000);
            }
        }
        function reconnectWebSocket() {
            var connection = new signalR.HubConnectionBuilder().withUrl("/RCSignHub").build();
            connection.on("ShowRC", function (regid, pdfName, qrcode, amount,imageUrl,inputPhoneNo,defaultPhoneNo) { showRC(regid, pdfName, qrcode, amount,imageUrl,inputPhoneNo,defaultPhoneNo); });
            connection.on("ShowHome", function (regid, seconds) { showHome(regid, seconds); });
            connection.on("ShowPayQrcode", function (regid) { showPaymentQrcode(); });
            connection.onclose(function () { startConnectWebSocket();});
            connection.start().then(function () {
                connection.invoke("BindDeviceId", deviceId);
                clearInterval(websocketReconnectTimer);
                websocketReconnectTimer = null;
            });
        }
        //rem
        window.onload = function () {
            getRem()
        };
        window.onresize = function () {
            getRem()
        };
        function getRem() {
        /*800代表设计师给的设计稿的宽度，你的设计稿是多少，就写多少;100代表换算比例，这里写100是
          为了以后好算,比如，你测量的一个宽度是100px,就可以写为1rem,以及1px=0.01rem等等*/
            var pwidth = 800;
            var prem = 100;
            var html = document.getElementsByTagName("html")[0];
            var oWidth = document.body.clientWidth || document.documentElement.clientWidth;
            html.style.fontSize = oWidth / pwidth * prem + "px";
        }
    </script>
</body>
</html>
